@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F8FF;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
.header{
    background-image: url(Assets/Hero-bg.png);
}
nav{
    display: flex;
    padding:50px 150px 0 150px;
    justify-content: space-between;
}
nav h2{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.hero-ditels{
        text-align: center;
        padding: 158px 0 152px 0;
}
.hero-ditels h1{
    font-size: 65px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    padding-bottom: 37px;
}
.btn{
    background-color: rgba(78, 71, 255, 1);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
}
/* action section */
.action-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 0;
    align-items: center;
}
.action-data{
    align-items: center;
}
.action-data h2{
    font-size: 42px;
    font-weight: bold;
}
.action-data p{
    color: rgba(37, 36, 50, 0.5);
    padding: 23px 0;
}


.action-data img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* user-section */
.user-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 50px 142px;
    text-align: center;
}
.user-section h1{
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 40px;
}
.user-data{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.user-child h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-child h4{
    color:rgba(0, 0, 0, 0.5) ;
}


/* card-section */
.card-section{
    padding-bottom: 137px;
    
}
.card-section h2{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 137px 0 50px 0;
}

.card-main{
    background-color: white;
    padding: 24px;
    border-radius: 14px;
}
.card-main h3{
    padding: 24px 0 8px 0;
}
.card-main P{
    padding-bottom: 24px;
}
.photo-with-girl{
    display: flex;
}
.photo-with-girl img{
    padding-right: 12px;
    border-radius: 50%;
}
.photo-with-girl-ditels{
    color: #757575;
}
.card{
    display: flex;
    justify-content: space-between;
}

/* focus section */
.focus{
    padding: 71px 150px;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 14px;
}
.focus h1{
    font-size: 50px;
    font-weight: bold;
}
.focus p{
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}
.focus img{
    border-radius: 48px;
    padding-top: 20px;
}
/* from-section */
.from-section{
    padding: 92px 0 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.from-section h1{
    font-size: 97px;
    font-weight: bold;
}
form label{
    font-size: 18px;
    font-weight: 600;
} 
.in-border{
    border: none;
    padding: 20px 271px 20px 32px ;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.add-btn{
    padding: 19px 225px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 19px auto 0;
    margin-bottom: 71px;
}

/* footer section */
footer{
    text-align: center;
    background-color: white;
    padding: 104px 0 0 0;
}
footer h1{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
footer p{
    color: #8987A1;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 20px;
}
footer ul{
    justify-content: center;
    display: flex;
    gap: 48px;
    padding-bottom: 103px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    
    text-decoration: none;
    color: #8987A1;
}
/* hover btn */
.btn:hover{
    background-color:yellow;
    color: black;
    cursor: pointer;
}
.add-btn:hover{
    background-color:yellow;
    color: black;
    cursor: pointer;
}